/*

*/


.konst_social {
    position: fixed;
    top: 45%;
    right: 0%;
    z-index: 1;
}

.konst_menu {
    position: fixed;
    display: flex;
    top: 0%;
    left: 20%;
    right: 20%;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
}

.konst_podmenu {
    display: none;
    position: fixed;
    top: 40%;
    left: 0%;
    right: 80%;
    z-index: 1;
}

.ramka_menu {
    display: flex;
    height: 70px;
    width: 825px;
    flex-direction: row;
    justify-content: center;
    border-radius: 0px 0px 30px 30px;
}

.pozycja_menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 70px;
    width: 200px;
}

.pozycja_menu:hover {
    background: var(--kolor_przez);
    border-radius: 20px;
}

.pozycja_menu a {
    color: white;
    text-decoration: none;
}

.pozycja_menu:hover a {
    text-decoration: underline overline;
}


.ramka_podmenu {
    display: flex;
    flex-direction: column;
    border-radius: 0px 30px 30px 0px;
    padding: 17% 10% 10% 10%;
}

.pozycja_podmenu {
    display: flex;
    height: 40px;
    padding: 5%;
}

.pozycja_podmenu:hover {
    background: var(--kolor_przez);
    border-radius: 30px;
}

.pozycja_podmenu a {
    color: white;
    text-decoration: none;
}

.pozycja_podmenu:hover a {
    text-decoration: underline overline;
}

.ostatnia_pozycja {
    border-bottom: none;
    border-right: none;
}

.ostatnia_pozycja:hover {
    border-bottom: none;
    border-right: none;
}

.komunikat {
    background-color: white;
    color: red;
    border: dotted 2px rgb(100, 22, 22);
    padding: 0px 10px;
}

.koszyk {
    font-size: 40px;
}

.koperta {
    font-size: 50px;
}

.kolko_koszyka {
    position: absolute;
    bottom: 10%;
    right: 25%;
    display: flex;
    width: 40px;
    height: 40px;
    color: var(--kolor_tekstu_przycisk);
    font-size: 20px;
    background: var(--kolor_przez);
    border-radius: 50%;
    justify-content: center;
    align-items: center;

}

.zamknij_podmenu {
    position: absolute;
    top: 1%;
    right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: var(--kolor_przez);
    height: 50px;
    width: 50px;
    border-radius: 0px 30px 0px 0px;
}

.zamknij_podmenu a {
    text-decoration: none;
    color: var(--kolor_tekstu_przycisk);
}

.zamknij_podmenu:hover {
    background: var(--kolor_przez);
}

.ramka_social {
    width: 50px;
}

.ramka_social_aktyw {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    background: var(--kolor_przez);
    color: var(--kolor_tekstu_przycisk);
    border-radius: 30px 0px 0px 30px;
    padding: 0px 10px;
}

.ramka_social_aktyw a {
    text-decoration: underline overline;
    color: white
}

.ramka_social_aktyw td {
    width: 50px;
}


#tr_social_aktyw {
    display: none;
}